@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #1e2033;
}

.main-title {
    margin-top: 50px;
    font-size: 65px;
    text-align: center;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    letter-spacing: 1.6px;
    transition: 0.3s;
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
                 1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
                 5px 13px 15px rgb(7, 7, 7);
}
  
.main-title:hover {
    transition: 0.3s;
    text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
                 1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
                 1px -8px 0 grey, 5px -13px 15px rgb(9, 9, 9), 5px -13px 25px #808080;
}

.main-block {
    margin: 50px auto 40px;
    width: 545px;
    max-height: 485px;
    overflow-y: auto;
    background: #ffffff;
    box-shadow: 0 80px 80px -60px rgb(87 109 151);
    border-radius: 20px;
}

.main-block::-webkit-scrollbar {
    width: 1px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.todo-form {
    margin: 20px 0px 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.todo-input {
    width: 360px;
    height: 45px;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid rgb(17, 17, 17);
}

.todo-input::placeholder {
    color: #B0BEC5;
}

.todo-button img {
    box-shadow: 0 80px 80px -60px rgb(87 109 151);
}

.todo-button, .todo-block-buttons img  {
    cursor: pointer;
}

.help {
    margin-top: 15px;
    font-size: 35px;
    text-align: center;
    color: #eb0000;
    font-weight: 800;
}

.todo-list-block {
    display: grid;
    justify-content: center;
    row-gap: 20px;
    margin-bottom: 30px;
    padding-left: 0;
}

.todo-item {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 65px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(16, 15, 15);
}

.title-block {
    align-self: center;
    overflow: auto;
}

.todo-title {
    font-size: 24px;
    padding-left: 10px;
}

.done {
    font-size: 24px;
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-block-buttons {
    display: grid;
    grid-auto-flow: column;
}

.button-done, .button-delete {
    padding: 7px;
}